<!-- navbar -->
<nav class="navbar  navbar-expand-lg  mb-5">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#">TO-DO KEEPER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-5">
        <a class="nav-link mx-3" aria-current="page" [routerLink]="'/'">HOME</a>
        <a class="nav-link mx-3"  [routerLink]="'all'" >ALL</a>
        <a class="nav-link mx-3" [routerLink]="'completed'">COMPLETED</a>
      </div>
    </div>
  </div>
</nav>


