.navbar{
  background-color: #e4b569;

  .logo{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: rgb(88, 145, 184);
  }

  .navbar-nav a{
    color: white;
    font-weight:700;


  }
  .navbar-nav a:hover{
    color: rgb(117, 91, 57);
  }
}




