
.text-marked{
  text-decoration: line-through;
}

.text-plain{
text-decoration: none;
}

.lists-div{
  width: 75%;
}

.card{
   background-color: #f1d3b5;
}

.btn-del-all{
  outline: 1px solid #6f1d1b;
  color: red;
}

.btn-del-all:hover{
  background-color: #9e2523;
  color: white;
}


.all-lists{
  max-height: 262px;
  overflow: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    .lists-div{
      width: 90%;
    }
}

::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(201, 185, 132);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4a276;
  border-radius: 10px;
}

