
<div class="container-fluid ">



<!-- bootstrap modal -->

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog mt-5" role="document">
    <div class="modal-content">
      <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="floatingInput" name="taskTitle" [(ngModel)]="taskTitle" >
        <label for="floatingInput">Title</label>

      </div>
      <div class="mb-3 form-floating">
        <textarea class="form-control" name="taskDesc" [(ngModel)]="taskDesc" ></textarea>
        <label for="floatingTextarea">Description</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
                (click)="updateTask()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div class="mt-5 mx-auto lists-div ">
  <button class="btn btn-del-all" (click)="deleteAllTasks()">Clear all </button>
  <div class="h3 mx-auto my-5 text-center"*ngIf="taskData.length == 0">No Task Added  <small class="text-muted">Create it</small></div>

  <div class="all-lists mt-3 overflow-y-scroll">
  <div class="card p-sm-3 mx-auto ">
    <div class="card-body row  d-flex justify-content-around align-items-center" *ngFor="let item of taskData;index as i" id="check">
          <div class="col-1">
            <div *ngIf="item['isDone'] ==='true'; then checkSolid ; else checkPlain"></div>
            <ng-template #checkSolid> <i class="fa-solid fa-square-check"  (click)="markDone(i)"></i></ng-template>
            <ng-template #checkPlain> <i class="fa-regular fa-square-check" (click)="markDone(i)"></i></ng-template>
          </div>
          <div class="col-8 px-5" [ngClass]="item['isDone'] ==='true'? 'text-marked': 'text-plain' ">
            <h5 class="card-title" >{{item['taskTitle']}}</h5>
            <p class="card-text" >{{item['taskDesc']}}</p>
          </div>
          <div class="col-3 d-flex justify-content-evenly flex-wrap align-items-center">
            <i class="fa-regular fa-pen-to-square m-3" (click)="getCurrTask(i)" ></i>
            <i class="fa-solid fa-trash" (click)="deleteTask(i)"></i>
          </div>

      </div>
    </div>
  </div>


</div>

</div>




